li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0; 
  padding: 0; 
  height: 100vh; 
}

.topButton{
  border: none;
  background-color: transparent;

}

.buttonContainer {
  position: fixed; 
  bottom: 60px; 
  right: 5px; 
  z-index: 1000; 
}

.topButton {
  padding: 10px 15px; 
  font-size: 16px;
  color: #fff; 
  background-color: #0080FF; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
  transition: background-color 0.3s ease; 
}

.topButton:hover {
  background-color: #0080FF;
}

